.container {
  height: 90vh;
  background-color: black
}

@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("hyperwave"),
    url("../fonts/hyperwave-one.ttf") format("truetype");
}

.hyper{
  font-family: Light 
}